.center {
  width: 25vw; /* 25% screen width */
  min-height: 50vh;
  margin: 10vh 40vw;
}

.center-middle-block {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
